@import url('https://fonts.googleapis.com/css?family=Roboto:300,400');
@media (orientation:portrait){
    header{
        position: relative;
    }
    .logo{
        padding: 25px 10px 25px 30px;
    }
    nav{
        position: absolute;
        display: block;
        width: 100%;
        top: 190px;
        //display: none;
    }
    .i-search {
        //display: none;
        position: absolute;
        background:#242424 url('/images/src/invert-search.svg.png') no-repeat 3% center;
        top: 90px;
        background-size: 40px;
        max-width: 100%;
        height: 100px;
        margin: 0;
        padding: 25px 70px;
    }
    .search_hidden{
        display: block;
        position: static;
        padding: 0;
    }
    .search_hidden>input[type="edit"]{
        width: 100%;
        background: #242424;
        font-size: 2rem;
        border:0;
    }
    .search_hidden>input[type="edit"]:focus{
        background-color: transparent;
    }
    .search_hidden>input[type="button"]{
        display: none;
    }
    .nav-menu{
        font-size: 1.5rem; 
        flex-direction: column;
        background: #ffffff;
    }
    .nav-menu>li{
        font-variant-caps: normal;
        text-transform: uppercase;
        border-bottom: 1px solid #e0e0e0;
        margin: 0;
        padding: 0;
    }
    .nav-menu>li>span,
    .nav-menu>li>a{
        color: #000000;
        display: inline-block;
        border-right: 1px solid #e0e0e0;
        padding: 30px;
        width: 80%;
        font-weight: 600;
    }
    .nav-menu>li>.li_triangle{
        display: inline-block;
        width: 100px;
        background: url('/images/src/nav-arrow.svg') no-repeat center center;
        background-size: 15px;
        height: 2ch;
    }
    .nav-menu_hidden{
        border-top: 1px solid #e0e0e0;
    }
    .nav-menu_open{
        background: #f5f5f2;
        position: static;
        
    }
    .nav-menu_open li{
        padding: 39px 0 39px 85px;
        text-transform: none;
        font-weight: 300;
    }
    .nav-menu_open>li>a{
        color: #576066;
    }
    
    .description{
        font-size: 2.7rem;
        max-width: 98%;
        line-height: 2.5rem;
    }
    h1{
        max-width: 100%;
    }
    .banner{
        background-position: center bottom;
        min-height: 90vh;
    }
    h1+.description{
        max-width: 98%;
    }
    .main-form{
        width: 90%;
        max-width: 90%;
    }
    .main-form__announce{
        font-size: 1.5rem;
    }
    .main-form__announce h3{
        font-size: 1.7rem;
    }
    .main-form__link{
        width: 100px;
        background-size: 60px;
    }
    footer{
        background: #1b2022;
        font-size: 1.5rem;
    }
    .footer-nav{
        flex-direction: column;
        align-items: center;
    }
    .footer-nav>li{
        padding: 20px;
    }
    .footer-nav>li:first-child{
        padding-top: 60px;
    }
    .footer-nav a{
        color: #ffffff;
    }
    .footer-rights{
        width: 100%;
        color: #ffffff;
        font-weight: 300;
    }
}

@media (orientation:portrait) and (min-width:200px) and (max-width:350px){
    h1{
        font-size: 1.7rem;
    }
    h1 + .description{
        font-size: 1rem;
        margin-top: 25px;
        line-height: 1.5;
        margin-bottom: 25px;
    }
    .i-search {
        top: 70px;
        background-size: 15px;
        max-width: 100%;
        height: 50px;
        margin: 0;
        padding: 12px 20px 12px 25px;
    }
    .search_hidden>input[type="edit"]{
        font-size: 1.1rem;
    }
    nav{
        top: 120px;
    }
    .nav-menu{
        font-size: 1rem; 
    }
    .nav-menu>li>span,
    .nav-menu>li>a{
        padding: 20px;
    }
    .nav-menu>li>.li_triangle{
        width: 40px;
        background-size: 7px;
    }
    .nav-menu_open li{
        padding: 10px 0 10px 35px;
        font-weight: 400;
    }
    .main-form{
        flex-direction: column;
    }
    .main-form__announce{
        font-size: 1rem;
    }
    .main-form__announce h3{
        font-size: 1.3rem;
    }
    .main-form__link{
        background-size: 70px;
        margin-top: 20px;
    }
    footer{
        font-size: 1rem;
        text-align: center;
    }
    .footer-nav>li:first-child{
        padding-top: 30px;
    }
}
    
@media (orientation:portrait) and (min-width:350px) and (max-width:600px){
    h1{
        font-size: 2rem;
        padding-top: 35px;
    }
    h1 + .description{
        font-size: 1.1rem;
        margin-top: 35px;
        line-height: 2rem;
    }
    .i-search {
        top: 90px;
        background-size: 30px;
        max-width: 100%;
        height: 60px;
        margin: 0;
        padding: 15px 50px;
    }
    .search_hidden>input[type="edit"]{
        font-size: 1.3rem;
    }
    nav{
        top: 150px;
    }
    .nav-menu{
        font-size: 1rem; 
    }
    .nav-menu>li>span,
    .nav-menu>li>a{
        padding: 30px;
    }
    .nav-menu>li>.li_triangle{
        width: 70px;
        background-size: 10px;
    }
    .nav-menu_open li{
        padding: 19px 0 19px 45px;
        text-transform: none;
        font-weight: 400;
    }
    .main-form__announce{
        font-size: 1.2rem;
    }
    .main-form__announce h3{
        font-size: 1.5rem;
    }
    .main-form__link{
        background-size: 70px;
    }
    footer{
        background: #1b2022;
        font-size: 1.1rem;
    }
    .footer-nav>li:first-child{
        padding-top: 40px;
    }    
}
@media (orientation:portrait) and (min-width:350px) and (max-width:400px){
    footer>ul{
        font-size: 0.9rem;
    }
}

@media (orientation:portrait) and (min-width:600px) and (max-width:800px){
    
    h1{
        font-size: 3rem;
        padding-top: 50px;
    }
    h1 + .description{
        font-size: 2rem;
        margin-top: 50px;
    }
    .main-form__link{
        background-size: 60px;
    } 
}

@media (orientation:portrait) and (min-width:800px) and (max-width:1200px){
    h1{
        font-size: 6rem;
        padding-top: 25%;
    }
    h1 + .description{
        font-size: 3rem;
        margin-top: 35px;
        line-height: 1.5;
    }
    .i-search {
        top: 90px;
        background-size: 50px;
        max-width: 100%;
        height: 100px;
        margin: 0;
        padding: 29px 110px;
    }
    .search_hidden>input[type="edit"]{
        font-size: 2rem;
    }
    nav{
        top: 193px;
    }
    .nav-menu{
        font-size: 2.5rem;
        font-weight: 300;
    }
    .nav-menu>li>span,
    .nav-menu>li>a{
        padding: 30px;
    }
    .nav-menu>li>.li_triangle{
        width: 230px;
        background-size: 23px;
    }
    .nav-menu_open li{
        padding: 39px 0 39px 45px;
        text-transform: none;
        font-weight: 400;
    }
    .main-form__announce{
        font-size: 2rem;
    }
    .main-form__announce h3{
        font-size: 3rem;
    }
    .main-form__link{
        width: 150px;
        height: 150px;
        background-size: cover;
    }
    footer{
        background: #1b2022;
        font-size: 2rem;
    }
    .footer-nav>li:first-child{
        padding-top: 50px;
    }
}