@import url('http://allfont.ru/allfont.css?fonts=merriweather-bold');
@import url('http://allfont.ru/allfont.css?fonts=droid-serif-bold');
@import url('https://fonts.googleapis.com/css?family=Roboto');

*{
    margin: 0;
    box-sizing: border-box;
}
ul{padding: 0;}
form,input,button{
    font-family: 'Roboto',sans-serif;
    text-rendering: geometricPrecision;    
}
button{cursor: pointer;}
body{
    background: #f5f5f2;
    font-family: 'Roboto',sans-serif;
    font-size: 12pt;
    font-weight: 400;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    text-rendering: geometricPrecision;
}
h1{
    font-family: 'Droid Serif Bold';
    text-align: center;
    padding-top: 15%;
    font-size: 50px;
    max-width: 600px;
    margin: 0 auto;
}
h2{
    font-size: 30px;
    text-align: center;
    color: #181818;
    padding-top: 80px;
    font-family: 'Merriweather', serif;
    font-weight: 900;
}
h2:after{
    display: block;
    content: '';
    height: 4px;
    width: 20px;
    background: #0c66c9;
    margin: 30px auto;
}
.description{
    font-size: 14pt;
    max-width: 620px;
    text-align: center;
    margin: auto;
    margin-bottom: 80px;
    line-height: 20pt;
}

header{
    display: flex;
    position: sticky;
    top: 0;
    left: 0;
    background: #ffffff;
    box-shadow:0 0 10px #cccccc;
    box-sizing: border-box;
    justify-content: center;
    align-items: stretch;
    z-index: 9999;
}
.logo{
    padding: 15px 10px 15px 70px;
    flex-grow: 2;
    display: block;
}
.logo > img{
    width: 100%;
    max-width: 204px;
    min-width: 170px;
}

.nav-menu{
    display: flex;
    justify-content: center;
    align-self: center;
    height: 100%;
}
.nav-menu>li{
    list-style: none;
    display: inline-block;
    font-variant-caps:all-petite-caps;
    padding: 20px 0;
    margin: 0 20px;
    cursor: pointer;
}
.nav-menu>li:hover{
    border-bottom: 2px solid #000000;
}
.nav-menu>li>a{
    color: #000000;
    text-decoration: none;  
}
.nav-menu_hidden{display: none;}
.nav-menu_open{
    display: block;
    background: #181818;
    position: absolute;
}
.nav-menu_open li{
    list-style: none;
    padding: 15px 0 15px 15px;
    display: flex;
    justify-content:space-between;
    align-content:flex-end;
}
.nav-menu_open>li>a{
    text-decoration: none;
    color: #626262;
}
.nav-menu_open>li .li_triangle{
    width: 10px;
    background: url('images/src/li.svg') no-repeat;
    background-size: contain;
    margin: 5px 10px;
    height: 0;
}
.nav-menu_open>li:hover > .li_triangle{
    height: 10px;
}
.nav-menu_open>li:hover{
    background: #2c2c2c;
    cursor: pointer;
}
.nav-menu_open>li:hover>a{
    color: #ffffff;
}

.i-search{
    background: url('images/src/search.svg');
    background-size: cover;
    max-width: 15px;
    width: 100%;
    height: 15px;
    margin: 25px 70px 30px 15px;
}
.search_hidden{
    display: none;
}
.search_open{
    display: block;
    background: #181818;
    position: absolute;
    top: 70px;
    right: 60px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}
.search_open *{
    background: transparent;
    border: 0;
    color: #747474;
    outline: 0;
}
.search_open>input[type="edit"]{
    font-size: 13px;
    font-weight: 600;
    width: 250px;
}
.search_open>input[type="button"]{
    font-size: 20pt;
    font-weight: 500;
}

.banner{
    background: url('images/bg/banner.png') no-repeat center;
    background-size: cover;
    width: 100%;
    height: 100ch;
    min-height: 100vh;
    position: relative;
    z-index: 1;
    color: #ffffff;
}
.banner*{z-index: 2;}
.banner:before{
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    display: block;
    content: '';
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.2);
}
h1+.description{
    font-weight: 400;
    font-size: 18px;
    max-width: 600px;
}
.main-form{
    padding: 30px 2%;
    display: flex;
    align-items:center;
    width: 39%;
    max-width: 320px;
    margin: 0 auto;
    justify-content: space-between;
    background: rgba(12,97,202,.8);
}
.main-form__announce{
    font-size: 14px;
}
.main-form__announce h3{
    font-family: 'Merriweather', serif;
    font-size: 19px;
    margin-bottom: 15px;
}
.main-form__announce_header,
.main-form__announce_date{
    padding: 5px;
}
.main-form__link{
    background: url('images/src/announce-next.svg') no-repeat center;
    width: 70px;
    height: 70px;
}


section.about{
    display: flex;
    background: #ffffff url('images/bg/about-bg.png') no-repeat center;
    justify-content: center;
    flex-wrap: wrap;
}
section.about article,
section.about figure{
    flex-basis: 100%;
    padding: 70px 10%;
}
section.about article{
    max-width: 500px;
}
section.about h2{
    text-align: left;
}
section.about h2:after{
    margin: 30px 0;
}
section.about .info-description p{
    text-align: left;
    margin: 45px auto;
    font-size: 14px;
    color: #616b70;
    font-weight: 550;
}
section.about button{
    border: 0;
    background: #0c66c9;
    color:#ffffff;
    padding: 15px 30px;
    text-transform: uppercase;
}
section.about figure{
    position: relative;
    max-width: 500px;
    width: 500px;
    height: 500px;
}
section.about figure>div{
    background-size: cover;
    width: 100%;
    height: 100%;
    z-index: 100;
}
section.about figure>div:first-child{
    background: url('images/src/worker.png') no-repeat;
    top: 270px;
    right: 220px;
    width: 500px;
    height: 330px;
    position: absolute;
    z-index: 1;
    
}
section.about figure>div:last-child{
    background: url('images/src/tractor.png') no-repeat top center;
    margin-top: 70px;
}

section.publications .description{
    color: #616b70;
    font-size: 14px;
    font-weight: 550;
}
section.publications .publications-list{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 1152px;
    margin: 0 auto;
}
section.publications .publications-list__item{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    line-height: 20pt;
    font-size: 14px;
}
section.publications .publications-list__item figure{
    width: 100%;
    height: 100%;
    border: 20px solid #ffffff;
    max-width: 300px;
}
section.publications .publications-list__item img{
    width: 100%;
    max-width: 300px;
    margin: 0 0 -100px 15%;
}
section.publications .publications-list__item h3{
    margin: 70px auto 30px;
}
section.publications .publications-list__item .publication-txt{
    width: 300px;
    font-weight: 500;
    color: #616a6f;
}

section.publications .readmore{
    color: #0c66c9;
}
section.publications button{
    margin: 80px auto;
    display: block;
    border: 0;
    padding: 15px 35px;
    background: #0c66c9;
    color: #ffffff;
    text-transform: uppercase;
}

section.members{
    background: url('images/bg/member-bg.png') no-repeat center right;
    background-size:auto;
}
section.members:before{
    display: block;
    width: 100%;
    max-width: 1152px;
    background-color:#ffffff;
    height: 1px;
    content:'';
    margin: 0 auto;
}
.members-description{
    color: #757d81;
    font-size: 14px;
}
.members-carousel{
    margin: 0 auto;
    display: flex;
    justify-content:center;
    align-items: center;
    max-width: 1490px;
}
.members-carousel__arrow_left,
.members-carousel__arrow_right{
    background-size: auto;
    width: 170px;
    height: 120px;
    cursor: pointer;
}
.members-carousel__arrow_left{
    background: url('images/src/left-arrow.svg') no-repeat center;
}
.members-carousel__arrow_right{
    background: url('images/src/right-arrow.svg') no-repeat center;
}
.members-carousel__item{
    display: flex;
    max-width: 1152px;
    margin: 0 auto;
    width: 100%;
    justify-content:space-between;
    align-items: center;
}
.members-carousel__item li{
    background: #ffffff;
    margin: 0 5px;
    list-style: none;
    width: 150px;
    height: 130px;
    text-align: center;
    background-size: contain;
}
.members-carousel__item li:nth-child(1){
    background: #ffffff url('images/src/1.png') no-repeat center;
}
.members-carousel__item li:nth-child(2){
    background: #ffffff url('images/src/2.png') no-repeat center;
}
.members-carousel__item li:nth-child(3){
    background: #ffffff url('images/src/3.png') no-repeat center;
}
.members-carousel__item li:nth-child(4){
    background: #ffffff url('images/src/4.png') no-repeat center;
}
.members-carousel__item li:nth-child(5){
    background: #ffffff url('images/src/5.png') no-repeat center;
}
.members-carousel__item li:nth-child(6){
    background: #ffffff url('images/src/1.png') no-repeat center;
}
.members-carousel__item li:nth-child(7){
    background: #ffffff url('images/src/1.png') no-repeat center;
}
li.members-carousel__item_active{
    width: 170px;
    height: 170px;
    box-shadow: 0 0 10px #cccccc;
}

section.videos{
    background: url('images/bg/video-bg.png') no-repeat right;
    background-size: cover;
    padding-bottom: 70px;
}
.videos h2{
    color: #f5f5f5;
    margin: 80px auto 0;
}
.videos-description{
    color: #747679;
    text-align: center;
    max-width: 620px;
}
.videos .carousel{
    display: flex;
    justify-content: space-around;
    max-width: 1552px;
    margin: 0 auto;
}
.videos .carousel>li{
    list-style: none;
    filter: brightness(20%);
}
.videos .carousel video{
    max-width: 590px;
    width: 90%;
    object-fit: cover;
}
.videos .carousel>li.carousel-list_active{
    filter: brightness(100%);
}
.list-btn{
    max-width: 100px;
    margin: 50px auto;
}
.list-btn>li{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    display: inline-block;
    background: #000000;
    list-style: none;
    margin: 0 5px;
    background: #585c5f;
}
.list-btn>.listbtn-li_active{
    background: #ffffff;
}
.videos button{
    cursor: pointer;
    border: 0;
    color: #ffffff;
    border: 1px solid #414548;
    padding: 15px 45px;
    font-weight: bold;
    background: transparent;
    display: block;
    margin: 0 auto;
}
.videos button:hover{
    border: 1px solid #ffffff; 
    position: relative;
    z-index: 9999;
}
.videos{position: relative;z-index: -2;}
.videos *{
    z-index: 9999;
}
.videos button:after{
    content: '';
    display: block;
    background: #242a2e;
    opacity: 0.85;
    background: rgba(0,0,0,0.8);
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
}
footer{
    background: #1b2022;
}
.footer-nav{
    display: flex;
    justify-content:center;
}
.footer-nav>li{
    list-style: none;
    display: inline-block;
    padding: 30px 15px;
    text-transform: uppercase;
}
.footer-nav a{
    color: #878889;
    text-decoration: none;
}
.footer-nav>li>a:hover{
    color: #ffffff;
}
.footer-rights{
    width: 50%;
    border-top:1px solid #131618;
    text-align: center;
    margin: 30px auto 0;
    padding: 30px;
    color: #ffffff;
}